div {
  background: #222;
  margin-bottom: 20px;
  color: white;
}

img {
  max-width: 100%;
}

/* Code Under This Line */

.short{
  height: 100px;
}

.tall{
  height: 200px;
}

.inside{
  height: auto;
}

.outside {
  height: 300px;
}

/*Bonus code below*/

.giant, body, html{
  height: 100%;
}
